{% extends 'base.html' %} 

{% block nav-item %}
<a class="nav-item nav-link" href="{% url 'jobs' %}">Portfolio</a>
<a class="nav-item nav-link active" href="{% url 'allblogs' %}">Blog</a>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center pt-3">Welcome to Paulo's Blog</h1>
        <br />
        <br />
        <h3>Latest posts</h3>
        <br /> 
        {% for blog in allblogs.all%}
        <a href="{%url 'detail' blog.id %}"><h3>{{ blog.title }}</h3></a>
        <!-- <h4>{{ blog.pub_date|date:"D, d M Y" }}</h4> !-->
        <h4>{{ blog.pub_date_pretty}}</h4>
        <br />
        <img src="{{ blog.image.url }}" class="img-fluid" height="200" width="200">
        <br />
        <br /> 
        {{ blog.summary }}
        <hr /> 
        {% endfor %}
    </div>
{% endblock %}