{% extends 'base.html' %}
<!-- Django does not extend static files and some other stuff-->
{% load staticfiles %}
<!-- Custom CSS -->

{% block nav-item %}
<a class="nav-item nav-link active" href="{% url 'jobs' %}">Portfolio</a>
<a class="nav-item nav-link" href="{% url 'allblogs' %}">Blog</a>
{% endblock %} 

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Hi, my name is Paulo :-)</h1>
        <p class="lead text-muted">Hello, my name is Paulo Pimenta. I am a software developpper, currently living in Montpellier,
            France. I love programming, teaching and reasearch.</p>
        <p>
            <a href="mailto:pfpimenta@gmail.com" class="btn btn-primary my-2">Email me</a>
        </p>
        <img src="{% static 'me.png' %}" />
    </div>
</section>

<section class="content-section bg-primary text-white" id="portfolio">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Portfolio</h3>
            <h2 class="mb-5">Recent Projects</h2>
        </div>

        <div class="row no-gutters">
            {% for job in jobs.all %}
            <div class="col-lg-6">
                <a class="portfolio-item" href="#">
                    <span class="caption">
                        <span class="caption-content">
                            <h2>{{ job.summary }}</h2>
                            <p class="mb-0">{{ job.summary }}</p>
                        </span>
                    </span>
                    <img class="img-fluid" src="{{ job.image.url }}" class="img-rounded" alt="Cinque Terre" height="236">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}